<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div th:replace="/layout::menu"></div>
    <div class="row mt-3">
        <div th:replace="/layout::taskbar"></div>
        <div class="col-7 p-3" style="border: 1px solid; border-radius: 5px">
            <form method="post">
                <h2>ARE YOU SURE TO DELETE?</h2>
                <input type="submit" value="yes">
            </form>
        </div>
        <div th:replace="/layout::adv"></div>
    </div>
    <div th:replace="/layout::footer"></div>
</div>
</body>
</html>