<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create type</title>
</head>
<body>
<h1>Create type</h1>
<a href="/type">list type</a>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-type}" th:object="${type}" method="post">
    <table>
        <tr>
            <td> name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create type"></td>
        </tr>
    </table>
</form>
</body>
</html>l>