
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete tag</title>
</head>
<body>
<h1>Delete tag</h1>
<h2>Are you sure?</h2>
<a href="/type">list type</a>
<form th:action="@{/delete-tag}" th:object="${tag}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td> name:</td>
            <td th:text="${tag.name}"></td>
        </tr>
            <td></td>
            <td><input type="submit" value="Delete type"></td>
        </tr>
    </table>
</form>
</body>
</html>