
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create-type">Create new type</a>
<h1>Type</h1>
<table border="1">
    <tr>
        <th>name</th>
        <th>quantity add</th>
        <th>quantity view</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="type : ${types}">
        <tr>
            <td th:text="${type.name}"></td>

            <td><a th:href="@{/edit-type/__${type.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-type/__${type.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>