<!DOCTYPE>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div th:replace="/layout::menu"></div>
    <div class="row mt-3">
        <div th:replace="/layout::taskbar"></div>
<!--        <div class="col-7">-->
<!--            <div class="row">-->
<!--                <div class="col-4" th:each="food: ${foods}">-->
<!--                    <a th:href="@{'/foods/search/'+${food.restaurant.name}}" style="text-decoration: none">-->
<!--                    <div class="card" style="width: 18rem; margin: 5px; border-radius: 5px; padding: 5px;">-->
<!--                        <img th:src="@{'/image/'+${food.image}}" class="card-img-top" alt="..." width="100px" height="100px">-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title" th:text="${food.restaurant.name}"></h5>-->
<!--                            <p class="card-text" th:text="${food.restaurant.address}"></p>-->
<!--                            <p>Giảm món</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-12 text-center">-->
<!--                    <a th:href="@{'/foods'(page=${foods.number - 1})}" th:if="${foods.hasPrevious()}">Previous</a>-->
<!--                    <span th:text="${foods.number + 1}"></span>/<span th:text="${foods.totalPages}"></span>-->
<!--                    <a th:href="@{'/foods'(page=${foods.number + 1})}" th:if="${foods.hasNext()}">Next</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <div th:replace="/layout::adv"></div>
    </div>
    <div th:replace="/layout::footer"></div>
</div>

</body>
</html>